<h1>Empregados</h1>
<hr>
<div class=''>
  <div class=''>
    <%= link_to 'Cadastrar Empregado', new_employee_path, class: '' %>
  </div>
</div>
<div class='flex flex-wrap gap-4 justify-evenly'>
  <%= render Employees::EmployeesChartComponent.new %>
  <%= render Employees::EmployeesCategoryTableComponent.new %>
</div>
<%= render Employees::EmployeesTableComponent.new(params: params) %>
