<h1>Empregados</h1>
<hr>
<div class=''>
  <div class=''>
    <%= link_to 'Cadastrar Empregado', new_employee_path, class: '' %>
  </div>
  <%= render Employees::EmployeesCategoryTableComponent.new %>
</div>

<div>
  <%= render Employees::EmployeesTableComponent.new(params: params) %>
</div>